<div class="message-container d-flex <%= message.user == Current.user ? 'justify-content-end message-current-user' : 'justify-content-start message-other-user' %>">
  <div class = "message-format <%= message.user == Current.user ? 'message-format-current-user' : 'message-format-other-user' %>">
    <div class="message-content">
      <div class = "message-main-body">
        <%= message.content %>
        <time class="message-time" data-controller="timeago" data-timeago-datetime-value="<%= message.created_at %>"></time>
      </div>
    </div>
  </div>
</div>
