<div class="our-container">
  <div class="container">
    <h1 class="movie-chatroom-title"><%= @chat_room.movie.title %></h1>
    <div class="d-flex justify-content-start container-new-post">
      <div id="new-post" class="m-3 p-3" >
        <img class="tweetPost-avatar rounded-circle" src="http://placekitten.com/200/200">
        <div class="form-post-new ml-3 mr-3">
          <%= render 'shared/new_post_chatroom_form' %>
        </div>
      </div>
    </div>
    <% @posts.each do |post| %>
      <%= render 'shared/posts', chat_room: @chat_room, post: post %>
    <% end %>
  </div>
</div>
