// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Our color scheme
$black: #010000;
$black2:#191919;
$white: #FFFFFF;
$red1: #F73800;
$red2: #9A0600;
$grey: #CCCCCC;
