$black: #010000;
$white: #FFFFFF;
$red1: #F73800;
$red2: #9A0600;
$grey: #CCCCCC;

#new-post {
  display: flex;
  height: 30vh;
  width: 60vw;
  border: 3px solid $red2;
  border-radius: 5px;
  background-color: $white;
  margin-left: 15vw;
}
.tweetPost-avatar{
  height: 48px;
  width: 48px;
}
.container-new-post {
  background-color: $black;
  height: 30vh;
  margin-bottom: 1rem;
}
.post {
  background-color: $black;
}
.form-post-new
{
  flex-grow: 1;
  background-color: $white;
  color: $black;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.tweetEntry-tweetHolder {
  border-left: 3px solid $red2;
  border-right: 3px solid $red2;
  border-top: 3px solid $red2;
  width: 588px;
  margin: auto;
  border-radius: 5px;
}

/************************/

.tweetEntry {
  border: 3px solid $red2;
  // cursor: pointer;
  min-height: 51px;
  padding: 9px 12px;
  background-color: $white;
  display: flex;
  flex-direction: row;
}
.tweetEntry-content {
  // display: block;
  font-size: 14px;
  margin-left: 1vw;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.tweetEntry-account-group {
  color: #8899a6;
  padding: 0px;
  text-decoration: none;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tweetEntry-avatar {
  // float: left;
  height: 48px;
  width: 48px;
  // margin-right: -58px;
  border-radius: 5px;
}
.tweetEntry-fullname {
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
  flex-grow: 1;
}

.tweetEntry-timestamp {
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
  flex-grow: 1;
}

.tweetEntry-text-container {
  font-size: 18px;
  color: #010000;
  line-height: 3vh;
  flex-grow: 1;
}

.tweetEntry-action-list {
  color: $grey;
  justify-content: right;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.optionalMedia {
  margin-left: 58px;
  margin-top: 10px;
}

.optionalMedia-img {
  border-radius: 5px;
  max-width: 506px;
  max-height: 506px;
}

.posts-all-container{
  height: 78.22vh;
  width: 100%;
  // z-index: 4;
  overflow-y: auto;
  scroll-behavior: smooth;
  text-decoration: none;
  // font-size: 1.5vw;
}

.posts-all-container::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.post-movie-poster{
  height: 20vh;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  // z-index: 0;
}

.fa-reply{
  margin-right: 1rem;
}
.fa-heart{
  margin-right: 1rem;
}
.liked-button-red{
  color: $red1;
}
.fa-reply:hover {
  color: $red2;
}
.fa-heart:hover {
  color: $red1;
}

.reply-btn  {
  color: $grey;
}
.reply-btn:hover {
  color: $red2;
}
.like-btn  {
  color: $grey;
}
.like-btn:hover {
  color: $red2;
}
