.index__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-top: 2.5vw;
  background-color: #010000;
}

.index__cards::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.index__cards-card {
  height: 30vw;
  padding: 1rem;
  background: #010000;
  border-color: #9A0600;
  border-style: solid;
  border-radius: 1%;
}

.index__cards-card-img {
  height: 70%;
  width: 100%;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.index__cards-card-body {
  height: 30%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5vw;
  color: #FFFFFF;
}

.index__cards-card-body-title {
  font-size: 1.1vw;
  justify-content: center;
  align-items: center;
}

.index__cards-card-body-text {
  font-size: 1.1vw;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.index__cards-card-body-btn {
width: 100%;
display: flex;
justify-content: space-around;
}

.index-search-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #010000;
  padding-top: 1vw;
}
