$black: #010000;
$white: #FFFFFF;
$red1: #F73800;
$red2: #9A0600;
$grey: #CCCCCC;

#new-post {
  display: flex;
  height: 30vh;
  width: 60vw;
  border: 3px solid $red2;
  border-radius: 5px;
  background-color: $white;
  margin-left: 15vw;
}
.tweetPost-avatar{
  height: 48px;
  width: 48px;
}
.container-new-post {
  background-color: $black;
  height: 30vh;
  margin-bottom: 1rem;
}
.post {
  background-color: $black;
}
.form-post-new{
  flex-grow: 1;
  background-color: $white;
  color: $black;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.tweetEntry-tweetHolder {
  border-left: 3px solid $red2;
  border-right: 3px solid $red2;
  border-top: 3px solid $red2;
  width: 588px;
  margin: auto;
  border-radius: 5px;
}

/************************/

.tweetEntry {
  border-bottom: 0.1vh solid $red2;
  min-height: 15.28vh;
  padding: 1vh 1vh;
  background-color: $black;
  display: flex;
}
.tweetEntry-content {
  font-size: 1.25vw;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.tweetEntry-header {
  color: $white;
  padding: 0px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tweetEntry-avatar {
  height: 48px;
  width: 48px;
  border-radius: 5px;
}
.tweetEntry-fullname {
  font-weight: bold;
  font-size: 1.25vw;
  padding: 0px;
}

.tweetEntry-chatroom {
text-decoration: none;
color: $grey;
}

.tweetEntry-chatroom:hover {
  color: $red1;
}

.tweetEntry-fullname{
  text-decoration: none;
  color: $white;
}
.tweetEntry-fullname:hover {
  color: $red1;
}

.tweetEntry-timestamp {
  color: $grey;
  padding: 0px;
}

.tweetEntry-text-container {
  font-size: 1.25vw;
  color: $white;
  line-height: 3vh;
  flex-grow: 1;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.tweetEntry-footer {
  color: $grey;
  font-size: 1.10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

// .tweetEntry-reply {
//   text-decoration: none;
//   color: $grey;
//   }

//   .tweetEntry-reply:hover {
//     color: $red1;
//   }

// .tweetEntry-action-list {
//   color: $grey;
//   justify-content: right;
//   align-items: center;
//   display: flex;
//   flex-direction: row;
//   font-size: 1.25vw;
// }

.optionalMedia {
  margin-left: 58px;
  margin-top: 10px;
}

.optionalMedia-img {
  border-radius: 5px;
  max-width: 506px;
  max-height: 506px;
}

.posts-all-container{
  height: 78.22vh;
  width: 100%;
  // z-index: 4;
  overflow-y: auto;
  scroll-behavior: smooth;
  text-decoration: none;
}

.posts-all-container::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.post-movie-poster{
  height: 20vh;
  aspect-ratio: 2/3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.fa-reply{
  margin-right: 1rem;
  color: $grey;
  text-decoration: none;
}

.fa-reply:hover {
  color: $red1;
}

.fa-heart {
  margin-right: 0.4rem;
  margin-top: 0.22rem;
}

.fa-heart:hover {
  color: $red1;
}

.liked-button-red{
  color: $red1;
}

.like-btn  {
  color: $grey;
}
.like-btn:hover {
  color: $red2;
}

.main-index-post-form{
  display: flex;
  flex-direction: column;
}
.main-index-form-button{
  width: fit-content;
  height: fit-content;
}
.main-index-form-search-container{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.main-index-form-input-and-suggestions{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-index-form-suggestions{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  z-index: 1;
}
