
.movie-show-details-container{
  background-color: $black;
  color: $white;
  height: 50vh;
}
.movie-show-trailer-container{
  background-color: $black;
  color: $white;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-show-trailer{
  height: 80%;
  width: 80%;
}
.movie-show-details{
  height: 90%;
  display: flex;
}
.movie-show-link{
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-show-poster{
  height: 100%;
  width: 35%;
  background-color: $black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.movie-show-button{
  width: fit-content;
  font-size: 1vw;
}
.movie-details{
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  // background-color: red;
  // justify-content: space-around;
  // align-items: center;
}
.movie-details-title{
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: bold;
  color: $grey;
  margin-left: 1vw;
}
.movie-details-red{
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  width: 10%;
  color: $red;
  margin-left: 1vw;
}
.movie-details-white{
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  color: $white;
}
.movie-show-links-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  // height: 10%;
  // width: 100%;
  // background-color: red;
}
