.replies-all-container{
  // height: 76.22vh;
  overflow-y: auto;
  // font-size: 1.25vw;
  width: 100%;
  scroll-behavior: smooth;
  text-decoration: none;
}
#new-reply {
  display: flex;
  border: 0.42vh solid $red2;
  border-radius: 0.7vh;
  background-color: $white;
}
.replies-title{
  font-size: 1.5vw;
  color: $white;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.user-avatar-small{
  background-size: cover;
}

// ******* OLD *******

// .replyEntry {
//   min-height: 3.9vw;
//   padding: 1vw 2vw;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   background-color: #CCCCCC;
//   border-radius: 1vh;
//   margin: 0.5vw 0;
// }
// .replyEntry-content {
//   margin-left: 1vw;
//   font-size: 1.25vw;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   flex-grow: 1;

// }
// .replyEntry-account-group {
//   padding: 0px;
//   text-decoration: none;
//   line-height: 2.8vh;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
// }
// .replyEntry-avatar {
//   height: 3.75vw;
//   width: 3.75vw;
//   border-radius: 5px;
// }
// .replyEntry-username {
//   font-weight: bold;
//   font-size: 1.25vw;
//   padding: 0px;
//   flex-grow: 1;
// }

// .replyEntry-timestamp {
//   font-size: 1.10vw;
//   color: $grey;
//   padding: 0px;
//   color: #010000;
// }

// .replyEntry-text-container {
//   font-size: 1.25vw;
//   color: #010000;
//   line-height: 0vh;
//   flex-grow: 1;
//   padding: 2vh;
// }

// .replyEntry-action-list {
//   color: #010000;
//   font-size: 1.10vw;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   align-items: center;
// }

// ************************************************************

.tweet {
  display: flex;
  border-bottom: 0.1vh solid $red2;
  background-color: $black;
  margin-bottom: 1vh;
}

.tweet__avatar {
  border-radius: 50%;
  background-size: cover;
  height: 3.75vw;
  width: 3.75vw;
  margin-right: 1vw;
}

.tweet__container {
  color: $white;
}

.tweet__header {
  display: flex;
  align-items: center;
  color: $white;
}

.tweet__author-name {
  font-size: 1.25vw;
  font-weight: 700;
  color: $white;
}

.tweet__publish-time {
  margin-left: 1vw;
  color: $grey;
  font-size: 1.10vw;
}

.tweet__content {
  font-size: 1.25vw;
  width: 48vw;
}

// .tweet__image {
//   width: 100%;
//   border-radius: 15px;
//   margin-top: 1.4vh;
// }

// .tweet__action-list {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   align-items: center;
//   color: $grey;
//   font-size: 1.10vw;
// }
