.replies-all-container{
  height: 76.22vh;
  overflow-y: auto;
  font-size: 1.5vw;
  width: 100%;
  scroll-behavior: smooth;
  text-decoration: none;
}
 #new-reply {
  display: flex;
  border: 3px solid $red2;
  border-radius: 5px;
  background-color: $white;
 }
 .replies-title{
  font-size: 1.5vw;
  color: $white;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }
