.profile-banner{
  height: 20vh;
  width: 100%;
  background-color: grey;
}
.profile-banner-pic{
  height: 20vh;
}

.profile-user-details-container{
  height: 20vh;
  width: 100%;
  background-color: $black;
  display: flex;
  justify-content: end;
  position: relative;
}
.profile-user-pic{
  height: 20vh;
  aspect-ratio: 1;
  background-size: cover;
  border-radius: 50%;
  margin-left: 3%;
  position: absolute;
  bottom: 50%;
  left: 0;
}
.profile-user-details{
  color: white;
  width: 75%;
}
.profile-user-name{
  font-size: 3vh;
  font-weight: bold;
  margin-top: 2%;
}
.profile-user-email{
  font-size: 2vh;
  margin-top: 1%;
  margin-bottom: 1%;
}
.profile-user-email{
  font-size: 2vh;
  margin-top: 1%;
}

.profile-followed-movies-container{
  height: 54vh;
}
.profile-followed-movie-title{
  color: white;
  font-size: 2rem;
  margin-bottom: 2vh;
}
#profile-movies{
  height: 49vh;
  margin-top: 0;
}
.btn-profile-tab{
  background-color: $black;
  color: #FFFFFF;
  font-style: bold;
  // border-style: $black;
  border: 3px solid $black;
  // border-radius: 5px;
}
.btn-profile-tab:hover{
  // border: 3px solid #9A0600;
  // border-radius: 5px;
  border-bottom: 3px solid #9A0600;
  border-left-color: $black;
  border-right-color: $black;
  border-top-color: $black;
  color: #FFFFFF;
  transition: 0.5s;
}
.btn-profile-tab-active{
  border-bottom: 3px solid #9A0600;
  border-left-color: $black;
  border-right-color: $black;
  border-top-color: $black;
  // border-radius: 5px;
  background-color: $black;
}
.bottom-profile-container{
  max-height: 49vh;
}
.show-content-container{
  padding-bottom: 0;
}
.followed-users-container{
  height: 51vh;
  overflow-y: scroll;
}
.followed-users-container::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
