.movie-chatroom-title{
  font-size: 2vw;
  color: $white;
  margin-left: 1rem;
  margin-bottom: 1rem;
 }

#chatroom-show-poster{
  height: 100%;
  background-color: $black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#chatroom-new-post-form{
  display: flex;
  // max-height: -webkit-fill-available;
  height: 22vh;
  width: 60vw;
  background-color: $black;
  margin-left: 15vw;
}
.tweetEntry-movie-title {
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-fullname-post{
  font-size: 14px;
  color: $black;
  padding:-left 1rem;
}
