<div class="our-container">
  <div class="index-search-div">
    <%= form_with url: movies_path, method: :get, class: "movie-index-search-bar" do %>
      <%= text_field_tag :mquery, params[:mquery],
      class: "form-control",
      autocomplete:"off",
      placeholder: "Type a Title or a Year"
      %>
      <%= submit_tag "Find a movie", class: "btn-post-tweet" %>
    <% end %>
  </div>
  <div class="index__cards mx-3">
    <% @movies.each do |movie| %>
      <%= render 'shared/cards/movie', movie: movie %>
    <% end %>
  </div>
</div>
