<div id="new-nav-bar">
  <div class="sidebar">
    <div class="navbar-brand d-flex space-between">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"/>
      <%= link_to "tvtalk", "#", class: "text-brand" %>
    </div>

    <ul class="navbar-menu">
      <li class="nav-item active d-flex align-items-center">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active d-flex align-items-center">
        <%= link_to "Media", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active d-flex align-items-center">
        <%= link_to "Profile", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
