<div class="follow-button-container"  data-controller="follows"
                                      data-follows-followee-value="<%= user.id %>"
                                      data-follows-user-value="<%= current_user.id %>">
  <% hasfollowed = !FollowedUser.find_by(follower_id: current_user.id, followee_id: user.id).nil? %>
    <button class="btn-post-tweet movie-show-button"  data-action="click->follows#followUser"
                                                      data-follows-target="button">
    <%= hasfollowed ? "Unfollow" : "Follow" %>
    </button>

</div>
