 <%# movie, current_user.followed_movies %>
<div class="follow-button-container"  data-controller="follows"
                                      data-follows-movie-value="<%= movie.id %>"
                                      data-follows-user-value="<%= current_user.id %>">
  <% hasfollowed = !FollowedMovie.find_by(user_id: current_user.id, movie_id: movie.id).nil? %>
  <% if hasfollowed %>
    <button class="btn-post-tweet movie-show-button"  data-action="click->follows#followMovie"
                                                      data-follows-target="button">Unfollow</button>
  <% else %>
    <button class="btn-post-tweet movie-show-button"  data-action="click->follows#followMovie"
                                                      data-follows-target="button">Follow</button>
  <% end %>
</div>
