<div class="our-container">
  <div class="back-button-container">
    <%= render 'shared/buttons/back_button' %>
  </div>
  <div class="about-title-main">About this website</div>
  <div class="about-title">Built by a team of 3 for the final project of the Le Wagon batch 1045 Madrid
  </div>
  <div class="about-group-photo" style="background-image:url('https://res.cloudinary.com/dcgbqu8yk/image/upload/v1670531188/LEWAGON_GROUPS_NOV_22-47_auqngb.jpg')">
  </div>
  <div class="about-names">
    <p class="about-name-text">Vito</p>
    <p class="about-name-text">Silviu</p>
    <p class="about-name-text">Fran</p>
  </div>

</div>
