<div class="tweet mx-4 p-2">
  <div class="tweet__avatar" style="background-image:url('<%= cl_image_path reply.user.photo.key %>')"></div>
  <div class="tweet__container">
    <div class="tweet__header">
      <div class="tweet__author-name">
        <%= user.nickname %>
      </div>
    </div>
    <div class="tweet__content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magnam recusandae nobis ullam tempore inventore facilis eaque molestias optio placeat, debitis repellendus velit laborum fuga repudiandae ipsum. Repudiandae, amet facere?</p>
    </div>
  </div>
</div>
