<div class="tweet mx-4 p-2">
  <%= link_to "/profile/#{user.followee.id}", class:"tweetEntry-fullname" do %>
    <div class="tweet__avatar" style="background-image:url('<%= cl_image_path user.followee.photo.key %>')"></div>
  <% end %>
  <div class="tweet__container">
    <div class="tweet__header">
      <div class="tweet__author-name">
        <%= link_to "/profile/#{user.followee.id}", class:"tweetEntry-fullname" do %>
          <strong><%= user.followee.nickname %></strong>
        <% end %>
      </div>
    </div>
    <div class="tweet__content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magnam recusandae nobis ullam tempore inventore facilis eaque molestias optio placeat, debitis repellendus velit laborum fuga repudiandae ipsum. Repudiandae, amet facere?</p>
    </div>
  </div>
</div>
