#back-button{
  margin: 0;
  padding-bottom: 0;
  font-size: 2rem;
  width: fit-content;
  cursor: pointer;
}
.back-button-container{
  height: fit-content;
}
.profile-banner-pic{
  .nav-link:hover{
    color: $red1 !important;
  }
}
