.btn-post-tweet{
  background-color: $red2;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 5px;
  border: 3px solid $red2;
}
.btn-post-tweet:hover{
  border: 3px solid $red2;
  border-radius: 5px;
  background-color: $black;
  color: $white;
  transition: 0.3s;
}
.btn-movie-about{
  background-color: $black;
  color: $white;
  font-weight: 500;
  border: 3px solid $red2;
  border-radius: 5px;
}
.btn-movie-about:hover{
  background-color: $black;
  color: $white;
  font-weight: 500;
  border: 3px solid $black;
  border-radius: 5px;
  box-shadow: $red2 0px 0px 0px 3px;
  transition: 0.3s;
}
