.nice-class{
  margin-left: 1rem;
}
.btn-post-tweet {
  background-color: $black;
  color: $white;
  font-style: bold;
  border: 3px solid $red2;
  border-radius: 5px;
}

.btn-post-tweet:hover{
  border: 3px solid $black;
  border-radius: 5px;
  border-radius: 5px;
  background-color: $red2;
  color: $white;
  transition: 0.3s;
}

.wrapper-input{
  border: 3px solid $black2;
  border-radius: 5px;
  background-color: $black2;
}
.label-input{
  color: $grey;
  background-color: $black;
}
.bg-input{
  background-color: $black2;
  border: $black2;
  color: $grey;
}
