// .side-nav-bar {
//   height: 100vh;
//   width: 15vw;
//   background-color:#010000;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1;
// }

.side-nav-bar {
  margin: 0;
  padding: 0;
  width: 15vw;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #010000;
}

.navbar-brand {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-decoration: none;
}

.navbar-brand img {
  width: 30%;
}

span.text-brand {
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 2.5vw;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.navbar-menu {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;
}

.nav-item {
  margin-left: 10%;
  font-size: 1.5vw;
  text-decoration: none;
  width:fill-available;
  color: white;
  font-weight: 400;
}

/* Sidebar links */
.side-nav-bar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}


/* Links on mouse-over */
.side-nav-bar a:hover {
  color: #9A0600;
}

// .nav-item:hover {
//   color: #9A0600;
// }

// a.nav-link {
//   color: white;
//   text-decoration: none;
//   margin-left: 10%;
// }

// a.log-link {
//   color: white;
//   text-decoration: none;
//   margin-left: 10%;
//   font-size: 1.5vw;
// }


// a.log-link:hover {
//   color: #9A0600;
//   text-decoration: underline;
//   text-decoration-color: #9A0600;
// }
