.nice-class{
  margin-left: 1rem;
}
.btn-post-tweet{
  background-color: #010000;
  color: #FFFFFF;
  font-style: bold;
  border: 3px solid #9A0600;
  border-radius: 5px;
}
.btn-post-tweet:hover{
  border: 3px solid #010000;
  border-radius: 5px;
  background-color: #9A0600;
  transition: 0.7s;
}
.content-input{
  border: 3px solid #9A0600;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #010000;
}
