.nice-class{
  margin-left: 1rem;
}

.wrapper-input{
  border: 3px solid $black2;
  border-radius: 5px;
  background-color: $black2;
}
.label-input{
  color: $grey;
  background-color: $black;
}
.bg-input{
  background-color: $black2;
  border: $black2;
  color: $grey;
}

.form-control:focus {
  border: 3px solid $black2 !important;
  border-radius: 5px;
  background-color: $black2 !important;
  color: $white !important;
  box-shadow: none !important;
}
// .form-control {
//   border: 3px solid $black2 !important;
//   border-radius: 5px;
//   background-color: $black2 !important;
//   color: $white !important;
//   box-shadow: none !important;
// }
