#new-nav-bar{
  height: 100vh;
  width: 15vw;
  background-color:#010000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar-brand {
  width: 15vw;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.navbar-brand img {
  width: 50%;
}

a.text-brand {
  color: white;
  font-weight: 700;
  font-size: 2.5vw;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.navbar-menu {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 20px;
  color: white;
}

.nav-item {
  margin: 10px;
  font-size: 2vw;
  text-decoration: none;
  width: 100%;
  color: white;
}

// .nav-link {
//   width: 100%;
//   text-decoration: none;
//   color: white;
//   padding: 10px;
// }
