#new-nav-bar{
  height: 100vh;
  width: 15vw;
  background-color:#010000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar-brand {
  width: 15vw;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-decoration: none;
}

.navbar-brand img {
  width: 30%;
}

span.text-brand {
  color: white;
  font-weight: 700;
  font-size: 2.5vw;
  text-align: center;
  width: 100%;
  text-decoration: none;
  align-items: center;
}

.navbar-menu {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;
}

.nav-item {
  margin: 10px;
  font-size: 1.5vw;
  text-decoration: none;
  width:fill-available;
  color: white;
}

.nav-item:hover {
  color: #9A0600;
}

a.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 10%;
}

a.log-link {
  color: white;
  text-decoration: none;
  margin-left: 10%;
  font-size: 1.5vw;
}

a.log-link:hover {
  color: #9A0600;
  text-decoration: underline;
  text-decoration-color: #9A0600;
}
