
.form-font-size{
  font-size: 0.8vw;
}
.news-container{
  height: 20vh;
  width: 100%;
  z-index: 4;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-all-cont{
  height: 90vh;
  width: 90%;
  margin: auto;
  z-index: 4;
  overflow-y: auto;
  scroll-behavior: smooth;
  text-decoration: none;
  color: $white;
  font-size: 1.5vw;
}
.news-all-cont::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
.news-img{
  height: 20vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 2px;
}
.news-title{
  text-decoration: none;
  color: $white;
  font-size: 0.8vw;
}
#news-header{
  color: white;
}
.news-header-container{
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
}
.alert-text-for-guest{
  color: $red1;
  margin-bottom: .5vh;
}
