#search-div{
  height: 100vh;
  width: 25vw;
  background-color: $black;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
#search{
  height: 5%;
  // width: 100%;
}
#search-form{
  height: fit-content;
}
#search-div-title{
  color: $white;
  font-size: 1.2vw;
  text-align: center;
  padding-top: 1em;
}
#search-field{
  width: 80%;
  margin: auto;
}
#search-results{
  height: fit-content;
  width: 80%;
  margin: auto;
  background-color: $white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  // border-radius: 0 0 10px 10px;
}
.search-result-link{
  text-decoration: none;
}
.form-font-size{
  font-size: 0.8vw;
}
.news-container{
  height: 20vh;
  width: 100%;
  z-index: 4;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-all-cont{
  height: 90vh;
  width: 100%;
  z-index: 4;
  overflow-y: auto;
  scroll-behavior: smooth;
  text-decoration: none;
  color: $white;
  font-size: 1.5vw;
}
.news-all-cont::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
.news-img{
  height: 20vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.news-title{
  text-decoration: none;
  color: $white;
  font-size: 0.8vw;
}
