// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";

:root, :host{
  background-color: $black;
}
.our-container {
  // background-color: lightgray;
  margin-left: 14.9vw;
  margin-right: 25vw;
  // border-left: 3px solid $red2;
  // border-right: 3px solid $red2;
  width: 60.2vw;
  min-height: 100vh;
  background-color: $black;
}

// @media (max-width: 1080px) {
//   .our-container {
//     margin-right: 0;
//     border-left: 0;
//     border-right: 0;
//     width: 85vw;
//   }
//   #search-div{
//     display: none;
//   }

// }
